:root {
  --sans: 'Lato', system-ui, -apple-system, sans-serif;
  --heading: 'Cormorant Garamond', serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita rolagem horizontal indesejada no mobile */
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}